<div class="card">
    <div class="imgContainer" (click)="onThumbClick()">
        <img 
            [alt]="recordItem.Descriptive.Title"
            [src]="recordItem.Internal.PathToKeyframeThumb"
        />
    </div>
    <div class="cardContent">
        <a title="Record detail" [routerLink]="['/records', recordItem.Internal.RecordId]">
            <span class="title">{{ recordItem.Descriptive.Title }}</span>
        </a>
        <span class="type">
            {{ recordItem.Administrative.Type!.slice(0, 1).toUpperCase() + recordItem.Administrative.Type!.slice(1) }}
        </span>
    </div>
</div>
