<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="page">
  <router-outlet class="content"></router-outlet>

  <div class="footer">
    <div class="card-container">
      <a class="circle-link" title="The Zeticon website" href="https://zeticon.com/" target="_blank">
        <img src="../assets/mediahaven-plain.svg"  alt="Zeticon"/>
      </a>

      <a class="circle-link" title="This app's source code" href="https://github.com/tibdhond/zeticon-test" target="_blank" rel="noopener">
        <img src="../assets/github.png" alt="GitHub"/>
      </a>

      <a class="circle-link" title="My LinkedIn" href="https://www.linkedin.com/in/tibo-dhondt/" target="_blank" rel="noopener">
        <img src="../assets/LinkedIn_icon_circle.svg.png" alt="LinkedIn"/>
      </a>
    </div>
    <span>Background credit: <a href="https://www.svgbackgrounds.com/">https://www.svgbackgrounds.com/</a></span>
  </div>
</div>

